body, html {
   height: 100%;
}

#firstpage {
    background-image: url(background\ flowers.jpg);
    background-size: cover;
    position:relative;
    height: 100%;
    padding-left: 50px;
    background-attachment:scroll;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:lavender;
}

nav {display: flex;
     padding: 10px;
     justify-content: space-between;
}

.menu{
    width: 35px;
    height: 2px;
    background-color: lavender;
    margin: 6px;
}

.increasefont {
    font-size: xx-large;
    padding-top: 300px;
}

#secondpage {
    background-color: lightslategray;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: rgb(161, 172, 183);
    a {
        color: rgb(161, 172, 183);
        text-decoration: none;
      }
}

.paragraphs {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.paragraphs2 {
    background-color: gray;
    border: 10px solid slategrey;
    margin: 5px;
    padding: 20px;
}